@use '../settings/variables' as v;
@use '../settings/mixins' as m;

.Header {
    &__contenedor {
        width: 100%;
        margin: 0 auto;
        @include m.flex (row, nowrap, space-around, center);
        @include m.tablet {
            width: 80%;
            padding: 0.5rem;
        }
        @include m.desktop {
            @include m.flex (row, nowrap, space-between, center);
        }
    }
    &__logo {
        @include m.flex (column, nowrap, space-between, center);
        @include m.telefono-xl {
            @include m.flex (row, nowrap, space-between, center);
            padding: 0.5rem;
        }
    }
    &__izq {
        margin: 1rem 0;
        border: 2px solid #000;
        padding-right: 3rem;
        border-radius: 5px;
        @include m.tablet {
            margin: 0;
        }
    }
    &__der {
        padding-left: 1rem;
    }
    &__p {
        text-transform: uppercase;
        font-weight: bold;
        span {
            margin-left: 0.3rem;
        }
    }
    &__nav {
        @include m.flex (row, nowrap, center, center);
    }
    &__li {
        padding: 0.7rem;
        margin: 0 0.2rem;
        font-size: 0.3em;
        cursor: pointer;
        @include m.tablet {
            padding: 0.7rem;
            margin: 0 0.2rem;
            font-size: 0.5em;
        }
        a {
            @include m.flex (row, nowrap, center, center);
        }
    }
    &__li:last-child {
        font-size: 0.7rem;
        @include m.tablet {
            font-size: 1rem;
        }
        background-color: map-get(v.$colores, color-botones);
        border-radius: 50%;
    }
    &__li:last-child:hover {
        background-color: map-get(v.$colores, color-botones-hover);
    }
}