@use '../settings/mixins' as m;

.Portada {
    background-image: url('../../public/assets/imgs/portada2.jpg');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    @include m.tablet {
        background-position: right top;
    } 
    
}