@use '../settings/variables' as v;
@use '../settings/mixins' as m;

.Seccion4 {
    margin: 1rem 0;
    @include m.desktop {
        margin: 3rem 0;
    }
    &__contenedor {
        position: relative;
        width: 100%;
        padding: 1rem;
        @include m.desktop {
            width: 90%;
            padding: 0;
        }
    }
    &__multimedia {
        position: relative;
        padding: 1rem;
        @include m.flex (column, nowrap, space-between, center);
        @include m.neomorfismo (map-get(v.$colores, color-secundario), map-get(v.$colores, color-secundario), 0.5rem, null, 0.5rem, map-get(v.$colores, color-primario-3), map-get(v.$colores, color-primario-3));
        @include m.desktop {
            margin-left: 10rem;
            padding: 2rem;
            @include m.flex (row, nowrap, space-between, center);
        }
        @include m.desktop-m {
            @include m.flex (row, nowrap, space-around, center);
        }
        &-imagen {
            padding: 1rem;
            max-width: 15.625rem;
            @include m.desktop {
                max-width: 60%;
            }
        }
        &-descripcion {
            padding: 0;
            @include m.flex (column, nowrap, center, center);
            @include m.desktop {
                padding: 1rem;
                max-width: 40%;
                @include m.flex (column, nowrap, center, flex-start);

            }
        }
        &-arriba, &-abajo {
            margin: 0 auto;
            width: 30%;
            height: .9375rem;
            background-color: map-get(v.$colores, color-primario-2);
        }
        &-arriba {
            @include m.position (absolute, -1.0625rem, null, null, 5rem);
            border-radius: 5px 5px 0 0;
            @include m.desktop {
                @include m.position (absolute, -1.0625rem, null, null, 15rem);
            }
        }
        &-abajo {
            @include m.position (absolute, null, 2rem, -1.0625rem, null);
            border-radius: 0 0 5px 5px;
            @include m.desktop {
                @include m.position (absolute, null, 5rem, -1.0625rem, null);
            }
        }
    }
    &__imagen {
        max-width: 21.875rem;
    }
    &__titulo {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include m.desktop {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__titulo:nth-child(1) {
        text-transform: capitalize;
    }
    &__titulo:nth-child(2) {
        font-weight: normal;
        margin-left: 3rem;
    }
    &__texto {
        font-size: 0.9rem;
    }
    &__botones {
        @include m.flex (row, nowrap, flex-end, center);
        margin-top: 2rem;
        width: 100%;
        &-flecha {
            font-size: 1.5em;
        }
        &-boton {
            margin-left: 1rem;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    &__cuadrito {
        @include m.position (absolute, 1.3994rem, -5.3563rem, null, null);
    }
}