<footer class="c-footer o-container-100">
    <div class="c-footer__contenedor">
        <ul class="c-footer__ul">
            <li class="c-footer__li"><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="c-footer__li"><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="c-footer__li"><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="c-footer__li"><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <div class="c-footer__copy">
            <p>1995-2023 Tienda de Esquí y montaña S.L. Todos los derechos reservados</p>
        </div>
    </div>
</footer>