---
import '../styles/components/Header.scss';
import Circle from "../components/icons/Circle.astro"
import Menu from "../components/icons/Menu.astro"
---

<header class="Header">
    <div class="Header__contenedor">
        <div class="Header__logo">
            <div class="Header__izq"></div>
            <div class="Header__der">
                <p class="Header__p">catálogo <span> 05-2023</span></p>
            </div>
        </div>
        <ul class="Header__nav">
            <li class="Header__li"><a href="#Seccion2"><Circle color="#000"/></a></li>
            <li class="Header__li"><a href="#Seccion4"><Circle color="#000"/></a></li>
            <li class="Header__li"><a href="#Seccion5"><Menu /></a></li>
        </ul>
    </div>
</header>

