<header class="c-header">
    <div class="c-header__contenedor">
        <div class="c-header__logo">
            <div class="c-header__izq"></div>
            <div class="c-header__der">
                <p class="c-header__p">catálogo <span> 05-2023</span></p>
            </div>
        </div>
        <ul class="c-header__nav">
            <li class="c-header__li"><a href="#c-seccion2"><i class="fa-solid fa-circle"></i></a></li>
            <li class="c-header__li"><a href="#c-seccion4"><i class="fa-solid fa-circle"></i></a></li>
            <li class="c-header__li"><a href="#c-seccion5"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </div>
</header>