---
import CuadroBoton from './ui/CuadroBoton.astro';
import LetterX from './icons/LetterX.astro';

import '../styles/components/Modal.scss';
import '../styles/components/Seccion5.scss';
---


<section class="Modal js-modal">
    <div class="Modal__screen">
        <div class='Modal__li'>
            <div class="Seccion5__contenedor">
                <div class="Seccion5__encabezado">
                    <h3 class="Seccion5__titulo">suscríbete <span>ahora</span></h3>
                    <h5 class="Seccion5__titulo">Suscríbete ya y recibirás todas nuestras ofertas diarias por email</h3>
                    <div class="Seccion5__encabezado-arriba"></div>
                    <div class="Seccion5__encabezado-abajo"></div>
                    <div class="Seccion5__encabezado-izq"></div>
                </div>
                <form data-cy="js-modal__form" class="Seccion5__form js-modal__form">
                    <fieldset class="Seccion5__form-campos">
                        <input class='js-modal__input-nombre' type="text" name="nombre" placeholder="Tu nombre completo">
                        <input class='js-modal__input-email' type="email" name="correo" placeholder="Tu dirección de email">
                    </fieldset>
                    <fieldset class="Seccion5__form-campos c-boton2">
                        <CuadroBoton text="Ver"/>
                    </fieldset>
                </form>
                <div class="js-modal__contenedor-mensaje"></div>
            </div>
            <div class='Modal__li-close js-modal__li-close'>
                <LetterX />
            </div>
        </div>
    </div>
</section>