---
import '../styles/components/Seccion5.scss';
import CuadroBoton from './ui/CuadroBoton.astro';
---

<section class="Seccion5" id="Seccion5">
    <div class="Seccion5__contenedor">
        <div class="Seccion5__encabezado">
            <h3 class="Seccion5__titulo">suscríbete <span>ahora</span></h3>
            <h5 class="Seccion5__titulo">Suscríbete ya y recibirás todas nuestras ofertas diarias por email</h3>
            <div class="Seccion5__encabezado-arriba"></div>
            <div class="Seccion5__encabezado-abajo"></div>
            <div class="Seccion5__encabezado-izq"></div>
        </div>
        <form data-cy="js-seccion5__form" class="Seccion5__form js-seccion5__form">
            <fieldset class="Seccion5__form-campos">
                <input data-cy="js-seccion5__nombre" class='js-seccion5__input-nombre' type="text" name="nombre" placeholder="Tu nombre completo">
                <input data-cy="js-seccion5__correo" class='js-seccion5__input-correo' type="email" name="correo" placeholder="Tu dirección de email">
            </fieldset>
            <fieldset class="Seccion5__form-campos c-boton2">
                <CuadroBoton text="Ver"/>
            </fieldset>
        </form>
        <div class="js-seccion5__contenedor-mensaje"></div>
    </div>
</section>