---
import CuadritoDer from "./ui/cuadritoDer.astro";

import '../styles/components/Seccion3.scss';
import CuadroBoton from "./ui/CuadroBoton.astro";
---


<section class="Seccion3">
    <div class="Seccion3__contenedor">
        <div class="Seccion3__contenedor-descripcion">
            <div class="Seccion3__cuadrito">
                <CuadritoDer numero="03"/>
            </div>
            <h3 class="Seccion3__titulo">perfeccionamiento</h3>
            <h3 class="Seccion3__titulo">llevado al limite</h3>
            <p class="Seccion3__texto">Los productos DYNAFIT están expuestos a diversas cargas 
                extremas durante su ciclo de vida. En el laboratorio de DYNAFIT en Aschheim, cerca de Múnich, 
                se simulan estas cargas con varias máquinas de ensayos como parte del desarrollo de productos 
                y del control de calidad. Por un lado, los productos deben ser capaces de soportar fuerzas de 
                ensayo predefinidas y, por otro, se comprueba la durabilidad de nuevos materiales y combinaciones de componentes.</p>
            <p class="Seccion3__texto">Se utiliza un actuador de ensayo electromecánico para simular el movimiento 
                durante el ascenso al caminar cuesta arriba. La combinación de esquí, fijación y bota se carga con una 
                fuerza y un recorrido definidos. Se utilizan varios ciclos de prueba y modelos de carga, y la prueba 
                se lleva a cabo hasta un número predefinido de ciclos o hasta que un componente falla. El cilindro 
                de prueba (Fmáx.10 kN) puede colocarse en diferentes ángulos, la placa con ranura en T también permite 
                la sujeción de otros componentes y piezas.</p>
            <div class="Seccion3__botones c-boton2">
                <CuadroBoton />
            </div>
        </div>
    </div>
</section>