---
import CuadritoIzq from "./ui/CuadritoIzq.astro";
import Raya from "./ui/Raya.astro";

import '../styles/components/Seccion2.scss';
---

<section class="Seccion2" id="Seccion2">
    <div class="Seccion2__contenedor">
        <div class="Seccion2__multimedia">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ey83JlMkyZ0"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="Seccion2__cuadrito">
            <CuadritoIzq numero="02"/>
        </div>
        <div class="Seccion2__raya"></div>
        <Raya />
    </div>
    
</section>