<section class="c-seccion4" id="c-seccion4">
    <div class="c-seccion4__contenedor">
        <div class="c-seccion4__multimedia">
            <div class="c-seccion4__multimedia-arriba"></div>
            <div class="c-seccion4__multimedia-abajo"></div>
            <div class="c-seccion4__multimedia-imagen">
                <img class="c-seccion4__imagen" src="public/assets/imgs/nueva-coleccion/botas1.jpg" alt="imagen botas">
            </div>
            <div class="c-seccion4__multimedia-descripcion">
                <h3 class="c-seccion4__titulo">características</h3>
                <h3 class="c-seccion4__titulo">técnicas</h3>
                <ul class="c-seccion4__texto">
                    <li><p class="c-seccion__texto-p">- Material de la carcasa inferior: Grilamid reforzado con fibra de vidrio.</p></li>
                    <li><p class="c-seccion__texto-p">- Material del puño: Grilamid reforzado con fibra de vidrio.</p></li>
                    <li><p class="c-seccion__texto-p">- Botín: Mezzalama Liner.</p></li>
                    <li><p class="c-seccion__texto-p">- Suela: Pomoca Race.</p></li>
                    <li><p class="c-seccion__texto-p">- Sistema de cierre Race Lock/Twistfit.</p></li>
                    <li><p class="c-seccion__texto-p">- Inclinación hacia delante 10º-13º + liberación para caminar.</p></li>
                    <li><p class="c-seccion__texto-p">- Sistema bota-fijacion Master Step.</p></li>
                    <li><p class="c-seccion__texto-p">- 875g (talla 26).</p></li>
                </ul>
                <div class="c-seccion4__botones">
                    <i class="c-seccion4__botones-flecha fa-solid fa-arrow-right-long"></i>
                    <button><a  class="c-seccion4__botones-boton" href="https://javicerezo.github.io/tienda-online/" target="_blank">comprar ahora</a></button>
                </div>
            </div>
        </div>
        <div class="c-seccion4__cuadrito c-cuadrito">
            <div class="c-cuadrito__contenedor--izq">
                <div class="c-cuadrito__p--izq"><p>04</p></div>
                <i class="c-cuadrito__i--izq fa-solid fa-arrow-down-long"></i>
            </div>
        </div>
    </div>
    <div class="c-raya">
        <div class="c-raya__contenedor">
            <div class="c-raya__raya"></div>
        </div>
    </div>
</section>