<section class="c-seccion1">
    <div class="c-seccion1__contenedor">
        <div class="c-seccion1__contenedor-descripcion">
            <div class="c-seccion1__cuadrito c-cuadrito">
                <div class="c-cuadrito__contenedor">
                    <div class="c-cuadrito__p"><p>01</p></div>
                    <i class="c-cuadrito__i fa-solid fa-arrow-down-long"></i>
                </div>
            </div>
                <h2 class="c-seccion1__titulo">nueva coleccion</h2>
                <p class="c-seccion1__texto">Para esquiadores de montaña que buscan el mejor rendimiento
                    de unas botas mejoradas, con un peso extremadamente menor. La nueva colección de botas
                    Dynafit, ofrecen nuevas soluciones técnicas, que como resultado, mejoran la flexión.
                    Compatibles con todas las fijaciones de esquí de montaña del mercado.
                <button class="c-seccion1__boton"><a class="c-boton" href="https://javicerezo.github.io/tienda-online/" target="_blank">ver</a></button>
        </div>
        <div class="c-seccion1__contenedor-producto js-seccion1__contenedor-producto">
                            
        </div> 
    </div>
</section>