<section class="c-seccion2" id="c-seccion2">
    <div class="c-seccion2__contenedor">
        <div class="c-seccion2__multimedia">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ey83JlMkyZ0"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
            </iframe>
        </div>
        <div class="c-seccion2__cuadrito c-cuadrito">
            <div class="c-cuadrito__contenedor--izq">
                <div class="c-cuadrito__p--izq"><p>02</p></div>
                <i class="c-cuadrito__i--izq fa-solid fa-arrow-down-long"></i>
            </div>
        </div>
        <div class="c-seccion2__raya"></div>
    </div>
    <div class="c-raya">
        <div class="c-raya__contenedor">
            <div class="c-raya__raya"></div>
        </div>
    </div>
</section>