@use '../../settings/variables' as v;
@use '../../settings/mixins.scss' as m;

.Cuadrito {
    display: none;
    @include m.desktop-m {
        display: block;
    }
    &__contenedor {
        @include m.flex (column, nowrap, center, center);
        padding-right: 2rem;
    }
    &__p {
        padding: 1rem 0;
        padding-right: 2rem;
        border-right: 2px solid #000;
        font-weight: bold;
    }
    &__i {
        padding-right: 2rem;
    }
}