---
import Boton from "./Boton.astro";
import Circle from "../icons/Circle.astro";
import Raya from "./Raya.astro";
import ArrowRight from "../icons/ArrowRight.astro";
---

<div class="relative">
    <div class="flex flex-row justify-end items-center mt-4">
        <ArrowRight />
        <Boton text="comenzar"/>
    </div>
    <div class="relative right-0 flex flex-row justify-end items-center mt-4">
        <Circle />
        <div class="">
            <Raya clase="relative ml-5"/>
            <div class="c-boton2__decoracion-arriba"></div>
            <div class="c-boton2__decoracion-abajo"></div>
        </div>
    </div>
</div>