---
const { numero } = Astro.props;

import ArrowDown from "../icons/ArrowDown.astro";

import '../../styles/components/ui/CuadritoDer.scss';
---

<div class="Cuadrito Cuadrito__contenedor">
    <div class="Cuadrito__p"><p>{numero}</p></div>
    <ArrowDown class="Cuadrito__i" />
</div>
