---
import Circle from '../icons/Circle.astro';
import ArrowRight from '../icons/ArrowRight.astro';
import Boton from './Boton.astro';

import '../../styles/components/ui/CuadroBoton.scss';

const { text } = Astro.props;
---

<div>
    <div class="CuadroBoton__botones">
        <ArrowRight />
        <button class="CuadroBoton__botones-boton">
            <Boton text={text}/>
        </button>
    </div>
    <div class="CuadroBoton__decoracion">
        <Circle />
        <div class="CuadroBoton__decoracion-contenedor">
            <div class="CuadroBoton__decoracion-raya"></div>
            <div class="CuadroBoton__decoracion-arriba"></div>
            <div class="CuadroBoton__decoracion-abajo"></div>
        </div>
    </div>
</div>